{% load static %}

<!DOCTYPE html>
<html>

  <head>
    <title>Roboduel</title>
    <meta charSet="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="Duel. Remote. Robots.">
    <meta property="og:image" content="">
    <link rel="shortcut icon" href="https://www.launchaco.com/static/favicon.ico" />
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono|Roboto:900" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/color.css' %}">

    <style>


    @font-face {
    font-family: Gotham;
    src: url({% static 'fonts/gotham.otf'%});
    }

      .custom-color-36d61bcd-7818-d1cf-4691-74a8076f3617 {
        background-color: #6c5ce7
      }

      .custom-color-36d61bcd-7818-d1cf-4691-74a8076f3617 .primary-color {
        color: #FFFFFF
      }

      .custom-color-36d61bcd-7818-d1cf-4691-74a8076f3617 .secondary-color {
        color: #D7F9FF
      }

      .custom-color-36d61bcd-7818-d1cf-4691-74a8076f3617 .accent-bg {
        background-color: #297AFB
      }

      .custom-color-36d61bcd-7818-d1cf-4691-74a8076f3617 .secondary-bg {
        background-color: #2898FB
      }

      .custom-color-36d61bcd-7818-d1cf-4691-74a8076f3617 .svg-fill {
        fill: #FFFFFF
      }

      .custom-color-36d61bcd-7818-d1cf-4691-74a8076f3617 {
        background-color: #6c5ce7
      }

      .custom-color-36d61bcd-7818-d1cf-4691-74a8076f3617 .primary-color {
        color: #FFFFFF
      }

      .custom-color-36d61bcd-7818-d1cf-4691-74a8076f3617 .secondary-color {
        color: #D7F9FF
      }

      .custom-color-36d61bcd-7818-d1cf-4691-74a8076f3617 .accent-bg {
        background-color: #297AFB
      }

      .custom-color-36d61bcd-7818-d1cf-4691-74a8076f3617 .secondary-bg {
        background-color: #2898FB
      }

      .custom-color-36d61bcd-7818-d1cf-4691-74a8076f3617 .svg-fill {
        fill: #FFFFFF
      }
    </style>
  </head>

  <body class="font-hacker">
    <div class="custom-color-36d61bcd-7818-d1cf-4691-74a8076f3617">
      <header class="header">
        <div class="container-lrg">

          <div class="flex col-12 spread">
            <a class="logo logo__white">
              <img style="margin-top: -10px;" src="{% static 'images/add23e32-83e5-4fe3-8117-750fe4bb4a6f.png' %}" alt="RoboduelCompany Logo">
            </a>
            <a href="{% url 'login' %}" class="nav-link secondary-color mr0">Login</a>
          </div>
        </div>
      </header>
      <section style="padding-top: 50px;" class="section">
        <div class="container mb40">
          <div class="col-12 text-center">
            <h1 style="font-family: Gotham;" class="heading-lrg primary-color">COMPETE USING REMOTE ROBOTS</h1>
            <h2 class="subheading secondary-color mt20">Fight against each other with lasers in Battle Royale style matches and have epic races from anywhere in the world. Compete and earn prizes to become the best Robodueler in the world</h2>
            <div class="mt40">
              <form action="https://robotify.us11.list-manage.com/subscribe/post?u=44c35da3be8a7172663299e56&amp;amp;id=6368be2fce" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" novalidate="novalidate" class="container-sml mailchimp flex mb20">
                <input type="email" value="" name="EMAIL" id="mce-EMAIL" placeholder="Your Email Address" required="required" class="mailchimp-input mobile-text-center">
                <div aria-hidden="true" style="position: absolute; left: -5000px;">
                  <input type="text" name="b_3198ee66c8baf4d60aa2fee6b_d60e1830e8" tabindex="-1" value="">
                </div>
                <input type="submit" name="subscribe" id="mc-embedded-subscribe" class="white-color button no-max-width accent-bg button__white" value="Subscribe">
              </form>
            </div>
          </div>
        </div>
        <div class="container-lrg">
          <div class="col-12">
            <div class="browser mt75">
              <div class="mask">
                <img src="{% static 'images/6e7c5057-07e4-4080-95db-43146e05ad1b.png' %}" alt="Screenshot of App in Browser" class="mask-img">
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <section id="feature-1" class="section purple-white" sitemeta="[object Object]" activepage="Landing">
      <div class="container-lrg flex">
        <div class="col-4">
          <i class="icon secondary-bg">
            <svg class="svg-fill" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25">
              <path d="M23.5 14H23V9.5A1.5 1.5 0 0 0 21.5 8H13V5.95a2.5 2.5 0 1 0-1 0V8H3.5A1.5 1.5 0 0 0 2 9.5V14h-.5A1.5 1.5 0 0 0 0 15.5v2A1.5 1.5 0 0 0 1.5 19H2v3.5A1.5 1.5 0 0 0 3.5 24h18a1.5 1.5 0 0 0 1.5-1.5V19h.5a1.5 1.5 0 0 0 1.5-1.5v-2a1.5 1.5 0 0 0-1.5-1.5zM2 18h-.5a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 1 .5-.5H2zm5.5-6h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1zM18 20a1 1 0 0 1-1 1H8a1 1 0 0 1-1-1v-3a1 1 0 0 1 1-1h9a1 1 0 0 1 1 1zm-.5-7h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 0 1zm6.5 4.5a.5.5 0 0 1-.5.5H23v-3h.5a.5.5 0 0 1 .5.5zm-9-.5h2v3h-2zm-7 0h2v3H8zm3 0h3v3h-3z"></path>
            </svg>
          </i>
          <h3 class="bold primary-color">Badass Robots</h3>
          <p class="paragraph secondary-color">Each one of our remote robots is equipped with fast and precise motors, FPV cameras, lasers, lights and sensors. Give your robot a name and watch it grow as you compete to be the best Robodueler in the world. The best thing about this is now
            you don't have to spend a tonne of money on buying a robot. </p>
        </div>
        <div class="col-4">
          <i class="icon secondary-bg">
            <svg class="svg-fill" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25">
              <path d="M18.545 22.953a1.002 1.002 0 0 1-.675 1.37A20.618 20.618 0 0 1 13 25a31.28 31.28 0 0 1-5.806-.731 1 1 0 0 1-.713-1.377l1.189-2.737A6.954 6.954 0 0 0 11 21h3a6.954 6.954 0 0 0 3.33-.845zM19 11h-8.5a1.5 1.5 0 0 0 0 3h5a.5.5 0 0 1 0 1h-5A2.503 2.503 0 0 1 8 12.5v-9a1.5 1.5 0 0 0-3 0V14a6 6 0 0 0 6 6h3a6 6 0 0 0 6-6v-2a1 1 0 0 0-1-1zm-.5-11A1.5 1.5 0 0 0 17 1.5V10h3V1.5A1.5 1.5 0 0 0 18.5 0zM10 10h1a1 1 0 0 0 1-1V6.5a1.5 1.5 0 0 0-3 0V9a1 1 0 0 0 1 1zm4 0h1a1 1 0 0 0 1-1V6.5a1.5 1.5 0 0 0-3 0V9a1 1 0 0 0 1 1z"></path>
            </svg>
          </i>
          <h3 class="bold primary-color">Worldwide Community</h3>
          <p class="paragraph secondary-color">Roboduel allows users to control remote robots from anywhere. By signing up to Roboduel you become part of a global community of Roboduelers where the medium is the power of Robots!</p>
        </div>
        <div class="col-4">
          <i class="icon secondary-bg">
            <svg class="svg-fill" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25">
              <path class="cls-1" d="M9.47 19.479l-4.373 4.374a.5.5 0 0 1-.852-.315l-.238-3.086a.5.5 0 0 0-.46-.46l-3.085-.237a.5.5 0 0 1-.315-.852l3.745-3.745a10.516 10.516 0 0 0 5.579 4.32zm15.383-.576l-3.467-3.467a10.511 10.511 0 0 1-5.752 4.147l4.27 4.27a.5.5 0 0 0 .851-.315l.238-3.086a.5.5 0 0 1 .46-.46l3.085-.237a.5.5 0 0 0 .315-.852zM12.5 5A4.5 4.5 0 1 0 17 9.5 4.505 4.505 0 0 0 12.5 5zm0 14A9.5 9.5 0 1 1 22 9.5a9.51 9.51 0 0 1-9.5 9.5zM18 9.5a5.5 5.5 0 1 0-5.5 5.5A5.5 5.5 0 0 0 18 9.5z"></path>
            </svg>
          </i>
          <h3 class="bold primary-color">Compete &amp; Win Prizes</h3>
          <p class="paragraph secondary-color">We will be running regular competitions in the robot arena in Dublin, Ireland. Enter these Battle Royales and races to level up. Winning competitions results in prizes which will increase the capability of your robot in terms of speed, accuracy
            and features.</p>
        </div>
      </div>
    </section>
    <section id="cta-2" class="section custom-color-36d61bcd-7818-d1cf-4691-74a8076f3617" sitemeta="[object Object]" activepage="Landing">
      <div class="container text-center">
        <div class="col-12">
          <h4 style="font-family: Gotham;" class="heading-lrg primary-color">JOIN OUR DISCORD</h4>
          <p class="paragraph mt20 secondary-color mt20">Keep up to date with the community and all the Roboduels taking place.</p>
          <div class="mt40">
            <a href="https://discord.gg/gTR6rVA" target="_blank" class="button mobile-text-center mt10 mobile-text-center accent-bg button__white">
              <span style="font-family: Gotham;"> Join the Discord </span>
            </a>
          </div>
        </div>
      </div>
    </section>
    <footer id="footer-3" class="section text-center purple-white" sitemeta="[object Object]" activepage="Landing">
      <div class="container col-12">
        <div>
          <a href="https://twitter.com/getroboduel" target="_blank" class="socialicons accent-bg twitter"></a>
          <a href="https://facebook.com/roboduel" target="_blank" class="socialicons accent-bg facebook"></a>
          <a href="mailto:adam@robotify.com" class="socialicons accent-bg email"></a>
        </div>
        <div class="mt50">
          <span class="span secondary-color">©</span>
          <span class="span secondary-color">Copyright Robotify Labs Ltd 2018</span>
        </div>
      </div>
    </footer>

  </body>

</html>
